{% extends "system_index.html" %}

{% block system_Contable %}


<table id="example1" class="table ">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>ID</th>
            <th>Dirección</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    	{% for pr in object_list %}
    		<tr>
    			<td>{{pr.user}}</td>
				<td>{{pr.user.first_name}}</td>
				<td>{{pr.user.last_name}}</td>
				<td>{{pr.numeroDocumento}}</td>
				<td>{{pr.direccion}}</td>
        <td class="bg-info" >
        <a href="" class="fa fa-eye fa-2x"></a>
        </td>
        <td class="bg-warning" >
        <a href="{% url 'usuario:perfil_edit' pr.id %}"  class="fa fa-pencil-square-o fa-2x"></a>
        </td>
        </tr>
    	{% endfor %}
    </tbody>

</table>


{%endblock%}
