{% extends "base_paginas.html" %}

{%load staticfiles%}
{% block paginas %}

<section class="container">
  <h1><p class="mt-5 text-center text-uppercase font-weight-bold">Cubiertos</p></h1>
</section>


<section class="container mt-2 pt-2" id="cubiertos">
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/cuchara-eco.png" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">CUCHARA GEOPACK</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/cuchillo-eco.png" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">CUCHILLO GEOPACK</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/tenedor-eco.png" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">TENEDOR GEOPACK</h4>
      </div>
    </div>
  </div>
</section>

<section class="container mt-1 pt-1" id="Cubiertos-1024x575">
  <div class="card">
    <div class="card-header">
      <center>
        <img align=center src= "{% static "images/cubiertos/Tabla-Cubiertos-1024x575.png" %}" class="img-fluid"  alt="domotica" border=0>
      </center>
    </div>
  </div>
</section>

<section class="container mt-2 pt-2" id="platos1">
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/platos1.png" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-Geopack1.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-Geopack2.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-Geopack3.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
  </div>
</section>

<section class="container mt-2 pt-2" id="platos2">
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-Geopack4.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-Geopack.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-PS1.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/cubiertos/Platos-y-bandejas-de-papel8-1024x547.jpg" %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title text-center">ECO FRIENDLY</h4>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h2><p class="mt-5 text-center text-uppercase font-weight-bold">Descripciones</p></h2>
</section>

<section class="container mt-1 pt-1" id="platos-1024x596">
  <div class="card">
    <div class="card-header">
      <center>
      <img align=center src= {% static "images/cubiertos/Tabla-Platos-Geopack1-1024x596.png" %} class="img-fluid"  alt="domotica" border=0>
    </center>
    </div>
  </div>
  </section>

<section class="container mt-1 pt-1" id="platos-1024x602">
  <div class="card">
    <div class="card-header">
      <center>
        <img align=center src= {% static "images/cubiertos/Tabla-Platos-PS1-1024x602.png" %} class="img-fluid"  alt="domotica" border=0>
      </center>
    </div>
  </div>
</section>

<section class="container mt-1 pt-1" id="platos-1024x575">
  <div class="card">
    <div class="card-header">
      <center>
        <img align=center src= {% static "images/cubiertos/Tabla-Platos-y-bandejas-de-papel-1024x575.png" %} class="img-fluid"  alt="domotica" border=0>
      </center>
    </div>
  </div>
</section>



{% endblock %}
