{% extends "base_paginas.html" %}

{%load staticfiles%}
{% block paginas %}

<section class="container">
  <h1><p class="mt-5 text-center text-uppercase font-weight-bold">Piñateria</p></h1>
</section>


<section class="container mt-2 pt-2" id="pinata1">
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/globos.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Golbos</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/birthday.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Decoración</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/pinata-mounstruo.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Piñatas</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/building.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Juguetes para piñatas</h4>
      </div>
    </div>

  </div>
</section>

<section class="container mt-2 pt-2" id="pinata1">
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/juguete1.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Juguetes para piñatas</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/juguete2.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Juguetes para piñatas</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/juguete3.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Juguetes para piñatas</h4>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{% static "images/pinata/juguete4.jpg" %}" alt="Cuchara eco">
      <div class="card-body">
        <h4 class="card-title text-center">Juguetes para piñatas</h4>
      </div>
    </div>

  </div>
</section>

{% endblock %}
