{% extends "base_paginas.html" %}

{%load staticfiles%}
{% block paginas %}

<section class="container">
  <p class="mt-5 text-center text-uppercase font-weight-bold">Misión</p>
  <p class="text-justify">Desechables el Mayorista es una microempresa,
    especializada en la distribución de productos desechables al por mayor y detal,
    teniendo como objetivo principal brindar la mejor calidad en servicio y productos,
    de esta manera satisfacer gustos y necesidades, apoyando a cada una de las personas
    que laboran en nuestra empresa, clientes y colegas, generando oportunidades de
    desarrollo laboral y personal, actuando con responsabilidad y compromiso frente
    a la sociedad y el medio ambiente .</p>

  <p class="mt-5 text-center text-uppercase font-weight-bold">Visión</p>
  <p class="text-justify">Para el año 2020 se espera que Desechables el Mayorista
    llegue a ser una empresa con posicionamiento regional y nacional, destacándose
    por la distribución de productos biodegradables y caracterizándose por sus excelentes
    servicios en la comercialización de productos desechables de la mejor calidad,
    sembrando cultura en nuestros clientes la cultura de reciclaje para el cuidado de
    nuestro planeta.
    .</p>

</section>

{% endblock %}
