{% extends "system_index.html" %}

{% block system_Contable %}



<div class="form-row">
      <div class="form-group col-md-4 ">
            <div class="busqueda">
                  <form class="navbar-search pull-left" method="POST" name="detalle_factura" action="{%url 'factura:reporte_Detalle_Factura'%}">{% csrf_token%}
                      <input title="se requiere numero" type="number" name="busqueda" class="search-query" placeholder="Buscar factura"  required>
                      <div class="btn-group">
                          <button class="btn btn-success" type="submit"><i class="icon fa fa-file-pdf-o"></i></button>
                      </div>
                  </form>
            </div>
      </div>
      <div class="form-group col-md-4 ">
              <div class="busqueda-fecha-rango">
                <label for="">facturas por fecha</label>
                <button type="button" class="btn btn-success fa fa-search" data-toggle="modal" data-target="#FacturasRangoFechaModal"></button>
              </div>
      </div>
      <div class="form-group col-md-4 ">
        <div class="pdf">
            <form class="navbar-search pull-left" method="POST" action="{%url 'factura:reporte_Facturas'%}">{% csrf_token%}
              <label >Reporte ventas totales</label>
              <button class="btn btn-success" type="submit"><i class="icon fa fa-file-pdf-o"></i></button>
            </form>
        </div>
      </div>
</div>

<!--modal-->
<!-- producto modal-->
<div class="modal fade" id="FacturasRangoFechaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reporte de facturas por fecha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{%url 'factura:csv_factura_rango_fecha'%}"  id="f-rango-fecha">
          {% csrf_token%}
          <div class="form-row">
            <div class="form-group col-md-5 ">
              <label for="inputEmail4">Fecha Inicio</label>
              <input name="busqueda-fechaInicio" id="b-f-fechaInicio" type="date" class="form-control fa fa-calendar" placeholder="30-12-2017"  min="2017-04-01" max="2050-12-20" required>
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword5">fecha Final</label>
              <input name="busqueda-fechaFinal" id="b-f-fechaFinal" type="date" class="form-control fa fa-calendar" placeholder="30-12-2017" min="2017-04-01" max="2050-12-20" required>
            </div>
            <div class="form-group col-md-2 ">
              <label for="inputAddress"></label>
              <button type="submit"  class="btn btn-success fa fa-file-excel-o"></button>
            </div>
            </div>
          </form>
<!--pdf -->
    <form method="POST" action="{%url 'factura:factura_rango_fecha'%}"  id="f-rango-fecha">
        {% csrf_token%}
        <div class="form-row">
          <div class="form-group col-md-5 ">
            <label for="inputEmail4">Fecha Inicio</label>
            <input name="busqueda-fechaInicio" id="b-f-fechaInicio" type="date" class="form-control fa fa-calendar" placeholder="30-12-2017"  min="2017-04-01" max="2050-12-20" required>
          </div>
          <div class="form-group col-md-5">
            <label for="inputPassword5">fecha Final</label>
            <input name="busqueda-fechaFinal" id="b-f-fechaFinal" type="date" class="form-control fa fa-calendar" placeholder="30-12-2017" min="2017-04-01" max="2050-12-20" required>
          </div>
          <div class="form-group col-md-2 ">
            <label for="inputAddress"></label>
            <button type="submit"  class="btn btn-success fa fa-file-pdf-o"></button>
          </div>

          </div>
        </form>
<!--pdf -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      <p class="text-justify">
      Para abrir con excel solo da click derecho sobre el archivo y abrir con Excel o
      arrastra el archivo a Excel.</br> </br>
      Las operaciones matematicas cuando lo abras con Excel. </br>
      inicialmente abre con bloc de notas y con control+f o control+b busca los puntos(.)
      de valores numericos y cambialos por comas(;) esto te permitira hacer
      operaciones matematicas cuando lo abras con excel.
      </p>


    </div>
  </div>
</div>
</div>
<!--producto fin modal-->

<table class= "table table-striped table-responsive">
  <thead class="">
    <tr class="">
      <th scope="col">Factura</th>
      <th scope="col">Fecha</th>
      <th scope="col">Vendedor</th>
      <th scope="col">Cliente</th>
      <th scope="col">Iva</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for pr in facturas %}
    <tr>
      <td>{{pr.serie}}</td>
      <td>{{pr.fecha}}</td>
      <td>{{pr.vendedor}}</td>
      <td>{{pr.cliente}}</td>
      <td>{{pr.iva}}</td>
      <td>{{pr.total}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link bg-success text-white" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% for i in range %}
    <li class="page-item text-success"><a class="page-link text-success" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link bg-success text-white" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}



{%endblock%}
