<\<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Reporte de facturas</title>
		<!--se llama el tamaño que se mensiono en la vista margin: 1cm;-->
		<style type="text/css">
			@page {
					size: 8.0cm 30cm;

					margin-left: 0.5cm;
					margin-right: 0.5cm;
					@frame footer {
							-pdf-frame-content: footerContent;
							bottom: 0cm;
							margin-left: 9cm;
							margin-right: 9cm;
							height: 1cm;
						}
					}
		</style>
	</head>
	<body>

				<center><p>DISTRIBUIDORA DESECHABLES EL MAYORISTA <br>
						Calle 11 No.9-86, Chiquinquirá (Boyacá)<br>
						Tel: 310 569 6085  -  321 921 2008 <br>
			    	JAIME H. QUINTERO RODRÍGUEZ
		        NIT. 5657839-0</br>
		        Regimen común
				</p><center>

    {% for algo in datoFactura %}
			<p align="left">
				FACTURA DE VENTA: {{algo.serie}} </br>
				Fecha: {{algo.fecha}} <br>
				Vendedor: {{algo.vendedor.id}} - {{algo.vendedor}}
				Máquina: {{algo.maquina}}<br>
				Cliente:{{algo.cliente.apellidoRepresentante}}   
				Nit: {{algo.cliente}}<br>
				Ciudad: {{algo.cliente.ciudad}}
				Dirección: {{algo.cliente.direccion}} <br>
				Teléfono: {{algo.cliente.telefono}} <br>
			</p>
			<hr>
		{% endfor %}

		<p align="left">
			PROD -- CANT -- VAL/UD -- IVA -- VAL/TOT<br>
			{% for factura in ventas %}
				{{factura.producto}} -- {{factura.cantidad}} --
				{{factura.precio}} -- {{factura.valorIva}} -- {{factura.subtotal}}<br>
			{% endfor %}</p>
		<hr>

		<p align="left">
      {% for algo in datoFactura %}
				FORMA DE PAGO: {{algo.formaPago}}
				SUBTOTAL: ${{algo.subtotal}} <br>
				IVA: ${{algo.iva}}
				TOTAL: ${{algo.total}} <br>
				EFECTIVO: $ {{algo.dineroRecibido}}
				CAMBIO: $ {{algo.dineroDevuelto}}
			{% endfor %}</p>

	</body>
</html>
