{% extends "base_factura.html" %}

{% block factura %}

{% for algo in datoFactura %}
FACTURA DE VENTA: {{algo.serie}}</br>
VENDEDOR: {{algo.vendedor}}</br>
MÁQUINA: {{algo.maquina}}</br>
PAGO: {{algo.formaPago}}</br>
{% endfor %}
{% for factura in ventas %}
cod:{{factura.producto.codigo}}</br>
{{factura.producto}}
Cant:{{factura.cantidad}}</br>
Valor: {{factura.precio}}</br>
Subtotal: {{factura.subtotal}}</br>
{% endfor %}
{% for algo in datoFactura %}
<h6><p>Subtotal: ${{algo.subtotal}}</br>
I.V.A: ${{algo.iva}}</br>
Total: ${{algo.total}} </p></h6>
{% endfor %}
{%endblock%}
